<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="20250816" id="lcv.scanner.radio" version="2025.8.16">
    <name>LCVSR</name>
    <description>LC Valley Scanner Radio</description>
    <author>KJ7TNY</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash/splash.png" />
        <preference name="SplashScreenBackgroundColor" value="#1e1e1e" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="FadeSplashScreenDuration" value="500" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="SplashMaintainAspectRatio" value="true" />

        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        </platform>
</widget>
